<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Login - To-do List App</title>
    <script src="https://kit.fontawesome.com/73d86af238.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <p>
            To-Do List App
        </p>
    </header>
    <section class="mainWrapper">
        <form action="">
            <label for="">Username</label>
            <input type="text" placeholder="password">
            <label for="">Password</label>
            <input type="text" placeholder="password">
            <button type="submit">Submit</button>
        </form> 
    </section>
</body>
<script src="script.js"></script>

</html>